/* header*/
header {
    padding-top: 4rem;
}

/* body */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    letter-spacing: 1.5px;
    background-image: url("img/camera.jpg");
}

img {
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0%);
    transition: 1s;
}

#center {
    text-align: center;
}

/* nav bar */
nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: black;
    background-color: white;
    letter-spacing: 1.5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a:link,
a:visited {
    color: black;
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

nav a:hover {
    color: grey;
    transition: .25s ease-out;
}

nav ul li {
    list-style: none;
}


/* icons */
.material-icons-outlined {
    position: relative;
    top: 5px;
}

/* photo grid */
.photos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.photo-column {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.photo-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .photo-column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .photo-column {
        flex: 100%;
        max-width: 100%;
    }
}

/* contact */

.contact-info a:link,
a:visited {
    color: black;
    text-decoration: none;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
}