/* nav bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: .5rem;
    padding-bottom: 1rem;
}

/* footer */ 
footer {
    display: flex;
    justify-content: center;
}