/* header*/
header {
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    text-transform: uppercase;
}

header img {
    height: 80px;
}

/* headings */

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

/* body */

body,
main {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    letter-spacing: 1.5px;
}

img {
    filter: grayscale(100%);
    max-width: 100%;
    display: block;
    cursor: pointer;
}

img:hover {
    filter: grayscale(0%);
    transition: 1s;
    cursor: pointer;
}

.center {
    text-align: center;
}

#me {
    max-width: 50%;
    display: block;
    margin: auto;
}

/* body - medium screen */

@media (min-width: 768px) {
    html {
        height: 100%;
    }
}

/* body - large screen */

@media (min-width: 992px) {}

/* body - extra large screen */

@media (min-width: 1200px) {}

/* nav bar */

nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: black;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    text-align: left;
    letter-spacing: 1.5px;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

nav a:link,
a:visited {
    color: black;
    text-decoration: none;
    float: right;
    display: block;
    text-align: center;
    padding: 10px 16px;
}

nav a:hover {
    color: grey;
    transition: .25s ease-out;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

nav ul li {
    float: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-words {
    display: none;

}

/* nav bar - medium screens */

@media (min-width: 768px) {
    #menu-icons {
        display: none;
    }

    #menu-words {
        display: block;
    }
}

/* logo */
.logo {
    height: 80px;
}

/* icons */
.material-icons-outlined {
    position: relative;
    top: 5px;
}

/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    justify-content: flex-end;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 992px) {
    .column {
        flex: 30%;
        max-width: 100%;
    }
}

/* modal */

.modal-content {
    background-color: #a0a0a0;
    opacity: .95;
    border-radius: 1rem;
    border: none;
}

.modal-dialog,
.modal-body,
.modal-footer,
.btn-close {
    border: none;
    border-style: none;
}

/* contact page */

.contact-me a:link,
a:visited {
    color: black;
    text-decoration: none;
    text-align: center;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
}